server:
    port: 8081
    servlet:
        context-path: /api
spring:
    profiles:
        active: dev
    application:
        name: user-center-backend
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        password: '137911'
        url: jdbc:mysql://localhost:3306/user_center?serverTimezone=UTC
        username: 'root'
        type: com.alibaba.druid.pool.DruidDataSource

    session:
        store-type: redis
        timeout: 86400
    redis:
        database: 0
        host: localhost
        port: 6379
    jackson:
        date-format: yyyy-MM-dd HH:mm:ss
        time-zone: GMT+8

mybatis-plus:
    global-config:
        db-config:
            logic-delete-field: isDelete # 全局逻辑删除的实体字段名(since 3.3.0,配置后可以忽略不配置步骤2)
            logic-delete-value: 1 # 逻辑已删除值(默认为 1)
            logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)
    configuration:
        map-underscore-to-camel-case: true
        log-impl: org.apache.ibatis.logging.nologging.NoLoggingImpl
    type-handlers-package: com.neutron.usermatchbackend.handler

